<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<nav th:fragment="copy">
		<script type="text/javascript" th:src="@{/js/navigation.js}"></script>
		
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary"
			class="border js-fullheight">
			<h1 id="fh5co-logo">
				<a th:href="@{/home}">BMS</a>
			</h1>
			<nav id="fh5co-main-menu" role="navigation">
				<ul>
					<li th:class="${navName eq 'home'} ? 'fh5co-active' "><a th:href="@{/home}">Home</a></li>
					<li th:class="${navName eq 'user'} ? 'fh5co-active' "><a th:href="@{/user}">User Management</a></li>
					<li th:class="${navName eq 'book'} ? 'fh5co-active' "><a th:href="@{/book}">Book Management</a></li>
					<li th:class="${navName eq 'about'} ? 'fh5co-active' "><a th:href="@{/about}">About</a></li>
					<li th:class="${navName eq 'contact'} ? 'fh5co-active' "><a th:href="@{/contact}">Contact</a></li>
					<li th:class="${navName eq 'logout'} ? 'fh5co-active' "><a th:href="@{/logout}">Log out!</a></li>
				</ul>
			</nav>
		</aside>
	</nav>
</body>
</html>
