<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>BMS Login Form</title>
        
        <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{font-awesome/css/font-awesome.min.css}" />
        <link rel="stylesheet" th:href="@{css/login/form-elements.css}" />
        <link rel="stylesheet" th:href="@{css/login/style.css}" />
    </head>
    
    <body>
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>
                                <strong>Digital Books Management System</strong></h1>
                        </div>
                    </div>
                    <div id="loginWindow" class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Login to our site</h3>
                                    <p>Enter your username and password to log on:</p>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="/login" method="post" class="login-form">
                                    <div class="form-group">
                                        <input type="text" name="username" placeholder="Email..." class="form-username form-control" id="login-username" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="login-password" />
                                    </div>
                                    <button id="loginButton" type="button" class="btn">Sign in!</button>
                                    <button type="submit" class="hidden"></button>
                                    <button id="openRegisterButton" type="button" class="btn">New Visitor? Register!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="regitserWindow" class="row" style="display:none">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Register new visitor</h3>
                                    <p>Enter your information to register:</p>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="/user/create" method="post" class="login-form">
                                    <div class="form-group">
                                        <input type="text" name="username" placeholder="Username..." class="form-username form-control" id="register-username" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="register-password" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="confirmPassword" placeholder="Confirm Password..." class="form-password form-control" id="register-confirmPassword" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="email" placeholder="Email..." class="form-control" id="register-email" />
                                    </div>
                                    <button id="registerButton" type="button" class="btn">Register!</button>
                                    <button type="submit" class="hidden"></button>
                                    <button id="backToLoginButton" type="button" class="btn">Back to Login</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
        <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery.backstretch.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/login.js}"></script>
    </body>

</html>